/*
 Color Theme Swatches in RGBA
strong-mustard {
    color: rgba(165, 138, 3, 1);
}

camouflage {
    color: rgba(63, 50, 12, 1);
}

top-hat-tan {
    color: rgba(191, 163, 147, 1);
}

old-mandarin {
    color: rgba(140, 35, 35, 1);
}

dark-sienna {
    color: rgba(63, 17, 17, 1);
}
*/


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');

/* generic rules */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Montserrat, sans-serif;
    color: black;
}

h1,
h2 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgba(63, 17, 17, 1);
    /* dark-sienna */
}

a {
    text-decoration: none;
    color: rgba(140, 35, 35, 1);
    /* old-mandarin */
}

li {
    list-style-type: none;
}

/* header */

header {
    display: flex;
    flex-direction: column;
}

/* logo */

#logo {
    font-size: 154%;
    padding: 10px 10px 10px 20px;
}

/* navigation bar */

#menu {
    display: flex;
    align-items: center;
}

#menu li {
    padding: 10px 20px;
    font-size: 70%;
}

.active {
    font-size: 120%;
    font-weight: 600;
}

#menu a:hover {
    font-size: 120%;
    font-weight: 600;
}

/* hero image */

#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center 55%;
    height: 600px;
}

/* about */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 96%;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 0;
    background-color: rgba(165, 138, 3, 0.2);
    /* strong-mustard */
    box-shadow: 5px 5px 5px 5px rgba(165, 138, 3, 0.4);
}

#about-box h2 {
    padding: 20px;
}

#about-box a {
    color: rgba(63, 17, 17, 1);
    /* dark-sienna */
    border: 2px solid rgba(63, 17, 17, 1);
    /* dark-sienna */
    border-radius: 2px;
    padding: 10px;
}

#about-box a:hover {
    color: white;
    background-color: rgba(63, 17, 17, 1);
    /* dark-sienna */
}

#about-first,
#about-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%
}

#about-us-container,
#about-news-container {
    width: 300px;
    height: 200px;
    border: 1px solid rgba(165, 138, 3, 0.7);
    /* strong-mustard */
    padding: 3px;
    border-radius: 5%;
}

#about-us-bg {
    background: url('../images/about-grapes.jpg') no-repeat center center;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

#about-us-info,
#about-news-info {
    padding: 20px;
}

#about-news-bg {
    background: url('../images/wine-bottle.jpg') no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

/* winemaking */

#winemaking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/winemaking.jpg') no-repeat center center;
    background-color: rgba(63, 17, 17, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    height: 450px;
    margin-top: 30px;
}

#winemaking h2 {
    font-size: 180%;
    text-transform: uppercase;
    color: white;
    padding-bottom: 50px;
}

#winemaking p {
    font-weight: 600;
    color: white;
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
}

#winemaking a {
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    padding: 15px;
}

#winemaking a:hover {
    color: rgba(165, 138, 3, 1);
    border: 2px solid rgba(165, 138, 3, 1);
    /* strong-mustard */
}

/* footer */

footer {
    margin: 30px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 80%;
}

#opening-hours li {
    line-height: 1.1rem;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#social-media {
    width: 100%;
}

#social-media-icons {
    display: flex;
    font-size: 160%;
    justify-content: space-around;
    padding-top: 30px;
}


/* media queries */

/* From S size phone (iPhone SE and similar) */
@media screen and (min-width: 320px) {
    #logo {
        font-size: 180%;
    }

    #menu li {
        font-size: 80%;
    }
}

/* From S size phone (Galaxy S20 Ultra and similar) */
@media screen and (min-width: 410px) {
    #logo {
        font-size: 260%;
    }

    .active {
        font-size: 120%;
        font-weight: 600;
    }

    #menu li {
        font-size: 100%;
    }

    #menu a:hover {
        font-size: 120%;
        font-weight: 600;
    }

    #about h2 {
        font-size: 180%;
    }
}

/* From big tablets / small laptops size */
@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        align-items: center;
    }

    #logo {
        font-size: 280%;
    }

    header a {
        width: 50%;
    }

    header nav {
        width: 50%;
    }

    #menu {
        justify-content: flex-end;
    }

    #about-box {
        flex-direction: row;
    }

    #about-first {
        flex-direction: row;
    }

    #about-us-container {
        margin: 0 0 10px 50px;
    }

    #about-second {
        flex-direction: row-reverse;
    }

    #about-news-container {
        margin: 0 50px 10px 0px;
    }

    #winemaking p {
        width: 60%;
    }

    footer {
        flex-direction: row;
    }

    #social-media {
        width: 50%
    }

    #social-media-icons {
        font-size: 180%;
    }

    #opening-hours {
        width: 50%;
    }
}