/*
Main colors used throughout the site. Different alpha values may be used when softer colors are required.

strong-mustard {
    color: rgba(165, 138, 3, 1);
}

old-mandarin {
    color: rgba(140, 35, 35, 1);
}

dark-sienna {
    color: rgba(63, 17, 17, 1);
}
*/


/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');

/* generic rules */

/* A mobile first approach has been taken. Media queries will be used to adapt to bigger screens */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgba(63, 17, 17, 1);
    /* dark-sienna */
}

a {
    text-decoration: none;
    color: rgba(140, 35, 35, 1);
    /* old-mandarin */
}

li {
    list-style-type: none;
}

/* header */

/* navigation menu will be located below the logo */
header {
    display: flex;
    flex-direction: column;
}

/* logo */

header a {
    width: max-content;
}

#logo {
    font-size: 167%;
    width: max-content;
    padding: 0.3rem 0.4rem;
}

/* navigation bar */

#menu {
    display: flex;
    align-items: center;
    width: 100%;
}

#menu li {
    padding: 0.5rem;
    font-size: 90%;
}

.active {
    font-size: 120%;
    font-weight: 600;
}

/* Increase its size to highlight the link when hovering over it */
#menu a:hover {
    font-size: 120%;
    font-weight: 600;
}

/* hero image */

#hero-image {
    background: url('../images/hero-image.webp') no-repeat center 55%;
    height: 75vh;
}

/* about section */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 96%;
    /* leave space on the sides */
    text-transform: uppercase;
    margin: 1.5rem 0 2.5rem;
    padding: 10px 0;
    background-color: rgba(165, 138, 3, 0.2);
    box-shadow: 0px 0px 6px -1px rgba(165, 138, 3, 0.9);
    /* for depth look */
}

#about-box h2 {
    padding: 20px;
}

#about-box a {
    color: rgba(63, 17, 17, 1);
    border: 2px solid rgba(63, 17, 17, 1);
    border-radius: 2px;
    padding: 10px;
}

#about-box a:hover {
    color: white;
    background-color: rgba(63, 17, 17, 1);
}

/* column for mobile */
#about-first,
#about-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    /* same as #about-box */
    margin-bottom: 1.5rem;
}

/* boxes for the background images. Width and height chosen to keep the aspect ratio and be visible in devices from 280px */
#about-us-container,
#about-news-container {
    width: 270px;
    height: 180px;
    border: 1px solid rgba(165, 138, 3, 0.7);
    padding: 3px;
    border-radius: 5%;
}

#about-us-bg {
    background: url('../images/about-grapes.jpg') no-repeat center center;
    width: 270px;
    height: 180px;
    border-radius: 5%;
}

#about-us-info,
#about-news-info {
    padding: 20px;
}

#about-news-bg {
    background: url('../images/wine-bottle.jpg') no-repeat center center;
    background-size: cover;
    width: 270px;
    height: 180px;
    border-radius: 5%;
}

.wine-name {
    font-weight: 800;
}

/* winemaking */

#winemaking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../images/wine-cellar.webp') no-repeat center center;
    background-color: rgba(63, 17, 17, 0.7);
    background-blend-mode: darken;
    /* added because image was too bright and to give a winery color look */
    background-size: cover;
    height: 450px;
    margin-top: 30px;
}

#winemaking h2 {
    font-size: 180%;
    text-transform: uppercase;
    color: white;
    /* for good contrast */
    padding-bottom: 50px;
}

#winemaking p {
    font-weight: 600;
    color: white;
    /* for good contrast */
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
}

#winemaking a {
    color: white;
    /* for good contrast */
    border: 2px solid white;
    /* for good contrast */
    border-radius: 2px;
    padding: 15px;
}

#winemaking a:hover {
    color: rgba(165, 138, 3, 1);
    border: 2px solid rgba(165, 138, 3, 1);
}

/* footer */

/* links below opening hours in small devices */
footer {
    margin-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 80%;
}

#opening-hours li {
    line-height: 1.1rem;
}

hr {
    border-top: 1px solid rgba(63, 17, 17, 1);
    width: 100%;
    margin: 5px 0;
}

#social-media {
    width: 100%;
}

#social-media-icons {
    display: flex;
    font-size: 160%;
    justify-content: space-around;
    padding-top: 30px;
}

/* our wines*/

.wines-section {
    width: 96%;
    /* to keep same look as width for elements in home page */
    margin: auto;
    padding-top: 0.5rem;
}

#red-wines-header {
    font-size: 180%;
    background-color: rgba(63, 17, 17, 0.9);
    padding: 1.5rem;
    color: white;
    /* for good contrast */
    text-transform: uppercase;
    box-shadow: 0px 0px 6px -1px rgb(63, 17, 17);
    /* for depth look */
    margin-bottom: 2rem;
    text-align: center;
}

#white-wines-header {
    font-size: 180%;
    background-color: rgba(165, 138, 3, 0.2);
    padding: 1.5rem;
    text-transform: uppercase;
    box-shadow: 0px 0px 6px -1px rgba(165, 138, 3, 0.9);
    /* for depth look */
    margin: 4rem 0 2rem 0;
    text-align: center;
}

/* one column in small devices */
.wines-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* space between grid elements */
}

/* column for small devices, with text below image */
.wines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 17, 17, 0.01);
    /* very light color to give a subtle card look */
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(63, 17, 17, 0.03);
}

.wine-bottle {
    /* size chosen to keep aspect ratio and be visible in devices from 280px*/
    height: 270px;
    width: 180px;
}

.wine-text {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.wine-text>ul li {
    padding-bottom: 1rem;
    width: 95%;
    margin: auto;
}

.wine-pricing-container {
    width: 95%;
    margin: 1rem auto;
}

.wine-pricing {
    max-width: fit-content;
    margin: auto;
}

.wine-pricing ul {
    background-color: rgba(165, 138, 3, 0.08);
    box-shadow: 0px 0px 3px 0px rgba(165, 138, 3, 0);
    padding: 1rem 2rem;
    border-radius: 5px;
}

.wine-pricing>ul li {
    line-height: 1.5rem;
}

/* contact page */

#contact-page {
    width: 96%;
    /* to keep the same look as the other pages */
    margin: auto;
    padding-top: 0.5rem;
}

#contact-header {
    font-size: 165%;
    background-color: rgba(63, 17, 17, 0.9);
    padding: 1.5rem;
    color: white;
    /* for better contrast */
    text-transform: uppercase;
    box-shadow: 0px 0px 6px -1px rgb(63, 17, 17);
    /* for depth look */
    margin-bottom: 2rem;
    text-align: center;
}

/* contact form */

/* column for small devices */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* form below text in small devices */
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(165, 138, 3, 0.05);
    box-shadow: 1px 1px 1px 1px rgba(165, 138, 3, 0.05);
    border-radius: 5px;
    padding: 0.5rem;
}

#contact-info {
    padding: 1rem;
}

#contact-info p {
    margin-bottom: 1rem;
}

#contact-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.input-field {
    padding-bottom: 1.5rem;
}

.input-field-text input {
    height: 1.5rem;
}

.input-user {
    width: 100%;
    background: white;
    border: 1.5px solid rgba(63, 17, 17, 0.5);
}

.input-user:hover {
    border: 1.5px solid rgba(63, 17, 17, 1);
}

#message {
    height: 5.5rem;
    resize: none;
}

button[type=submit] {
    background-color: rgba(165, 138, 3, 0.2);
    color: rgba(63, 17, 17, 0.9);
    font-weight: 700;
    border: 1px solid rgb(63, 17, 17);
    max-width: fit-content;
    align-self: center;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    margin-top: 2rem;
}

button[type=submit]:hover {
    background-color: rgba(63, 17, 17, 0.9);
    color: white;
}

.required-field {
    font-size: 75%;
    font-style: italic;
}

/* location */

#location {
    background-color: rgba(165, 138, 3, 0.05);
    box-shadow: 1px 1px 1px 1px rgba(165, 138, 3, 0.05);
    border-radius: 5px;
    padding: 1.5rem;
    margin: 2rem 0;
}

#location h3 {
    margin-bottom: 1rem;
}

/* column with map below text in small devices */
#location-container {
    display: flex;
    flex-direction: column;
}

#location-container p {
    margin-bottom: 1rem;
}

#map {
    width: 100%;
}

/* 404 page */

#bg-404 {
    background: url('../images/bottle-lost.webp') no-repeat center center;
    background-size: cover;
    height: 88vh;
    background-color: rgba(165, 138, 3, 0.8);
    background-blend-mode: saturation;
}

#error-text {
    position: relative;
    top: 30%;
    text-align: center;
    font-size: 150%;
}

#error-text h2 {
    padding-bottom: 2rem
}

#error-text h3 {
    padding-bottom: 2rem
}

.generic-link:hover {
    color: rgb(63, 17, 17);
}

/* contact confirmation */

/* adjusting the body to keep the footer at the bottom of the screen */
#body-confirmation {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#contact-confirmation {
    flex-grow: 1;
}

#contact-confirmation div {
    position: relative;
    top: 30%;
    text-align: center;
    padding: 0 1rem;
}

#contact-confirmation div h2 {
    padding-bottom: 2rem;
}

#contact-confirmation div p {
    padding-bottom: 2rem;
}


/* media queries */

/* from S size phone (iPhone SE and similar) */

@media screen and (min-width: 320px) {

    /* increase sizes */
    #logo {
        font-size: 200%;
    }

    #menu li {
        font-size: 100%;
    }

    #about-us-container,
    #about-news-container {
        width: 300px;
        height: 200px;
    }

    #about-us-bg {
        width: 300px;
        height: 200px;
    }

    #about-news-bg {
        width: 300px;
        height: 200px;
    }

    #contact-header {
        font-size: 180%;
    }
}

/* from L size phone (Galaxy S20 Ultra and similar) */

@media screen and (min-width: 410px) {

    /* increase sizes and padding */
    #logo {
        font-size: 260%;
        padding: 1rem;
    }

    #menu li {
        padding: 0.5rem 1rem;
    }

    .active {
        font-size: 120%;
        font-weight: 600;
    }

    #menu li {
        font-size: 100%;
    }

    #menu a:hover {
        font-size: 120%;
        font-weight: 600;
    }

    #about h2 {
        font-size: 180%;
    }
}

/* from big tablets / small laptops size */

@media screen and (min-width: 600px) {

    /* text next to the image */
    .wines {
        flex-direction: row;
    }

    .wine-bottle {
        height: 405px;
        width: 270px;
    }

    .wine-pricing {
        margin: 0;
    }
}

/* from big tablets / small laptops size */

@media screen and (min-width: 900px) {

    /* move the navigation menu to the right */
    header {
        flex-direction: row;
        align-items: center;
    }

    #logo {
        font-size: 280%;
    }

    header nav {
        width: 100%;
    }

    #menu {
        justify-content: flex-end;
    }

    /* move the link up */
    #about-box {
        flex-direction: row;
    }

    /* move texts next to images */
    #about-first {
        flex-direction: row;
        width: 85%;
    }

    #about-second {
        flex-direction: row-reverse;
        width: 85%;
    }

    #winemaking p {
        width: 60%;
    }

    /* move social media links up next to opening hours */
    footer {
        flex-direction: row;
    }

    #social-media {
        width: 50%
    }

    #social-media-icons {
        font-size: 180%;
    }

    #opening-hours {
        width: 50%;
    }

    .wines-section {
        padding: 0;
    }

    #red-wines-header,
    #white-wines-header {
        padding: 2rem;
    }

    #contact-page {
        padding: 0;
    }

    /* move form up next to text */
    #contact-form {
        flex-direction: row;
    }

    #contact-info {
        width: 50%
    }

    #contact-info p {
        line-height: 1.3rem;
    }

    #location {
        padding: 0.5rem;
    }

    #contact-header {
        padding: 2rem;
    }

    #contact-details {
        width: 50%;
    }

    /* move map up next to text */
    #location-container {
        flex-direction: row;
    }

    #location h3 {
        font-size: 150%;
        padding-left: 1rem;
    }

    #location-container div {
        width: 50%;
        padding: 0 1rem;
    }

    #map-container {
        height: auto;
    }

    #map {
        height: 100%;
    }

    #bg-404 {
        height: 91vh;
    }

    #contact-confirmation div {
        font-size: 120%;
    }
}

/* from big tablets / small laptops size */

@media screen and (min-width: 1200px) {

    /* change wines grid to two columns */
    .wines-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .wine-bottle {
        height: 450px;
        width: 300px;
    }

    .wine-text {
        font-size: 95%;
    }

    /* move location up next to form */
    #contact {
        flex-direction: row;
    }

    #contact-form {
        width: 45%;
    }

    #message {
        height: 8.5rem;
    }

    /* move text up above the map */
    #location-container {
        flex-direction: column;
        height: 92%;
    }

    #location {
        width: 45%;
        padding: 1.5rem;
        margin: 0;
    }

    #location div {
        width: 100%;
        padding: 0;
    }

    #location h3 {
        font-size: 180%;
        padding: 0;
    }

    #map-container {
        height: 100%
    }

    #map {
        height: 100%;
    }
}